<h1 class="center" style="padding-top: 200px">LOGIN</h1>

<form action="/wilogin" method="post" class="center" style="margin-top: 50px">

    <p class="center">PASSWORD</p>
    <input type="password" class="textbox" name="token">

    <br>
    <input type="submit" value="LOGIN" class="button" style="margin-top: 50px">

</form>